
/* Heading */

h1.main_page {
  margin-top: 50px;
  position: relative;
  padding: 6px 0px 12px 18px;
  border-left: 6px solid #00f;
}

h1.main_page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

h2.main_page {
  margin-top: 40px;
  position: relative;
  padding: 4px 0px 8px 18px;
  border-left: 6px solid #0cf;
}

h2.main_page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 95%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

h3.main_page {
  margin-top: 30px;
  position: relative;
  padding: 2px 0px 4px 18px;
  border-left: 6px solid #aaa;
}

h3.main_page::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  width: 90%;
  height: 0;
  border-bottom: 1px solid #ccc;
}

/* Table */

table.py_constructor, table.py_method, table.properties_list {
  width: 100%;
  min-width: 1000px;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

table.py_constructor, th.py_constructor, td.py_constructor,
table.py_method, th.py_method, td.py_method {
  border: 1px solid black;
}

table.properties_list, th.properties_list, td.properties_list {
  border: 1px solid black;
  padding: 10px;
}

th.py_constructor {
  background-color: rgb(50, 100, 200);
  color: white;
}

th.py_method {
  background-color: rgb(40, 160, 80);
  color: white;
}

td.py_constructor, td.py_method {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

caption.py_constructor, caption.py_method {
  text-align: left;
  padding: 5px;
}

/* Property */

dl.property {
  display: table;
}

dl.added {
  background-color: #ddffff;
  border-left: 5px solid #88dddd;
}

dl.required {
  background-color: #ffeedd;
  border-left: 5px solid #eecc44;
}

dl.required_ext {
  background-color: #ffeaff;
  border-left: 5px solid #eeaacc;
}

dt.property {
  padding-right: 20px;
  padding-top: 5px;
}

dt.property.main_page {
  margin-left: 10px;
  padding-right: 20px;
  padding-top: 5px;
}

dd.property {
  margin-left: -10px;
  margin-top: -2px;
  padding-right: 20px;
  padding-bottom: 5px;
}

dd.property.main_page {
  margin-left: 0px;
  margin-top: -2px;
  padding-right: 20px;
  padding-bottom: 5px;
}

/* Code */

pre.prettyprint {
  display: table;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
}

code.lang-py, code.lang-sh {
  display: table;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

/* Misc. */

.none_in_main {
  display: none;
}

dl.parameters {
  margin: 0px;
}

dl.parameters > dt {
  color: #602020;
}

dl.parameters > dd {
  margin-left: 12px;
}
