.py_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

.py_table2 {
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
}

.py_table, .py_table2, .py_td, .py_th, .py_th2 {
  border: 1px solid black;
}

.py_td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  word-wrap: break-word;
}

.py_th {
  background-color: rgb(20, 160, 160);
  color: white;
}

.py_th2 {
  background-color: rgb(120, 80, 160);
  color: white;
}

.py_ul {
  margin-left: -20px;
  text-align: left;
}

.main_page_h1 {
  margin-top: 50px;
}

.main_page_h2 {
  margin-top: 40px;
}

.section_note {
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
